body {
  padding-top: 50px;
  font: 16px "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin-top: 50px;
}

.intro-page {
  padding: 40px 15px;
  text-align: center;
  max-width: 660px;
  margin: 0 auto;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8f8f8;
}

.container .text-muted {
  margin-top: 20px;
}